body {
    width: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
}


/* Nav Bar Start */
#navSection {
    width: 100%;
    height: 60px;
    background-color: #202020;
    position: relative;
}

.navbar {
    width: 80%;
    margin: auto;
    height: 100%;
}

.menu {
    display: flex;
    gap: 45px;
    margin: auto;
    align-items: center;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.contact-btn {
    background-color: #900505;
    padding: 5px 10px;
    border-radius: 10px;
    margin: auto;
}

/* Nav Bar End */


/* Mobile Nav Bar Start */
#mobileHam {
    width: 100%;
    height: 60px;
    background-color: #202020;
    position: relative;
    display: none;
}

.mobile-ham-wrapper {
    width: 80%;
    margin: auto;
}

.mobile-ham-menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.mobile-ham-menu li {
    list-style-type: none;
}

.mobile-ham-menu li:hover {
    cursor: pointer;
}

.mobile-ham-menu li i {
    font-size: 25px;
    margin-right: 20px;
}

#social-icons {
    margin: 0;
}

#closeBtn {
    display: none;
    margin: 0;
    font-size: 35px;
}

#hamBtn {
    margin: 0;
    font-size: 35px;
}

#mobileNav {
    display: none;
    height: 100vh;
    background-color: #444444;
    margin-top: -60px;
}

.mobile-nav-wrapper {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    width: 100%;
}

.menu-mobile li {
    list-style-type: none;
    font-size: 35px;
    border-bottom: 1px solid #ffffff;
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.menu-mobile li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25px;
    padding: 5px;
}



/* Mobile Nav Bar End */


/* Hero Section Start */
#hero-section {
    background-image: url("../img/hero_img_main.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -60px;
}

.hero-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40vh;
}

.main-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
}

.sub-title {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
}

.hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin: 20px 0;
}

.hero-pra {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px 0;
    padding-bottom: 50px;
}

.hero-title-wrapper a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    text-transform: uppercase;
}

.hero-title-wrapper a:hover {
    background-color: #333333;
}

.hero-title-wrapper span {
    padding-left: 5px;
}

/* Hero Section end */


/* About Us Start */
#about-us-section {
    width: 100%;
}

.about-us-wrapper {
    width: 60%;
    margin: auto;
    padding: 20px 0;
}


.about-us-img {
    width: 100%;
    height: auto;
    margin: auto;
}

.about-us-para {
    font-size: 14px;
    text-align: justify;
    padding: 0 10px;
}

.about-us-grid {
    width: 100%;
    margin: auto;
}

.about-grid {
    display: flex;
}

.about-us-grid a {
    color: #202020;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #202020;
    padding: 5px 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: 20px;
}

.about-us-grid a:hover {
    color: #ffffff;
    background-color: #181818;
}

.about-us-grid span {
    padding: 0 10px;
}

.about-img {
    height: 100%px;
    width: 100%;
    background-image: url("../img/about_img.jfif");
    background-position: center;
    background-size: cover;
}

/* About Us End */




/* Footer Start */
#footer-section {
    width: 100%;
    background-color: #202020;
    margin-top: 50px;
}

.footer-wrapper {
    width: 60%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 600;
}

.social-icons i {
    font-size: 20px;
    padding: 0 10px;
}

.footer-title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-para {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

.footer-para a {
    text-decoration: none;
    color: #ffffff;
}

.footer-para i {
    padding: 0 5px;
}

#copyright-section {
    width: 100%;
    height: 40px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright-wrapper {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.copyright-details {
    color: #ffffff83;
    font-size: 14px;
    text-align: center;
    display: flex;
    margin: 0;
}

/* Footer End */


@media screen and (max-width: 800px) {

    .section-title {
        font-size: 25px;
        padding: 20px 0;
    }

    /* Nav Bar Start */
    #navSection {
        display: none;
    }

    #mobileHam {
        display: flex;
    }


    /* Nav Bar End */


    /* Hero Section Start */

    /* Hero Section End */


    /* About Us Start */
    .about-us-wrapper {
        width: 80%;
        margin: auto;
    }

    .about-us-grid a {
        color: #202020;
        font-size: 14px;
        text-decoration: none;
        border: 1px solid #202020;
        padding: 5px 10px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        font-weight: 600;
        margin-top: 20px;
    }

    .about-us-grid span {
        padding: 0 10px;
    }

    .about-img {
        height: 550px;
        width: 100%;
        background-image: url("../img/about_img.jfif");
        background-position: center;
        background-size: cover;
    }

    /* About Us End */


    /* Why Us Start */
    .why-us-wrapper {
        width: 80%;
        margin: auto;
    }

    .option {
        height: 150px;
        width: 100%;
        background-color: #202020;
    }

    .option-name {
        font-size: 14px;
    }

    .option-img {
        font-size: 30px;
    }

    /* Why Us End */


    /* Products Start */

    .product-wrapper {
        width: 80%;
        margin: auto;
    }

    .product-img-1 {
        width: 100%;
        height: 200px;
    }

    .product-img-2 {
        width: 100%;
        height: 200px;
    }

    .product-img-3 {
        width: 100%;
        height: 200px;
    }

    .product-name {
        font-size: 14px;
        font-weight: 500;
    }

    .product-name:hover {
        background-color: #202020;
        color: #ffffff;
        cursor: pointer;
    }

    /* Products End */


    /* Gallery Start */
    .gallery-wrapper {
        width: 80%;
        margin: auto;
    }

    .img1 {
        background-image: url("../img/g1.jpeg");
        height: 410px;
        width: 40vw;
    }

    .img2 {
        background-image: url("../img/g2.jfif");
        height: 150px;
        width: 40vw;
    }

    .img3 {
        background-image: url("../img/g3.jfif");
        height: 150px;
        width: 40vw;
    }

    .img4 {
        background-image: url("../img/g4.jfif");
        height: 150px;
        width: 40vw;
    }

    .gallery-left a {
        background-color: #202020;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 16px;
        border-radius: 10px;
    }

    /* Gallery End */


    /* Footer Start */
    .footer-wrapper {
        width: 80%;
        margin: auto;
    }

    .company-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 0;
    }

    .social-icons i {
        font-size: 18px;
        padding: 0 10px;
    }

    .footer-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
    }

    .footer-para {
        color: #ffffff;
        font-size: 14px;
        margin: auto;
    }

    .copyright-wrapper {
        width: 80%;
    }

    .copyright-details {
        font-size: 12px;
    }

    /* Footer End */

}


@media screen and (max-width: 650px) {

    .section-title {
        font-size: 20px;
        padding: 20px 0;
    }


    /* Nav Bar Start */

    /* Nav Bar End */


    /* Hero Section Start */

    .main-title {
        font-size: 50px;
    }

    .sub-title {
        font-size: 20px;

    }

    .hero-pra {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 60%;
        margin: auto;
        padding: 20px 0;
        padding-bottom: 50px;
    }

    .hero-title-wrapper a {
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 5px 10px;
        text-transform: uppercase;
    }

    .hero-title-wrapper span {
        padding-left: 5px;
    }

    /* Hero Section End */


    /* About Us Start */

    .about-grid {
        display: inline
    }

    .about-us-grid a {
        color: #202020;
        font-size: 14px;
        text-decoration: none;
        border: 1px solid #202020;
        padding: 5px 10px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        font-weight: 500;
        margin-top: 20px;
    }

    .about-img {
        height: 200px;
        margin-top: -40px;
        margin-bottom: 20px;
    }

    /* About Us End */


    /* Why Us Start */
    .why-us-wrapper {
        width: 80%;
        margin: auto;
    }

    .why-us-options {
        display: flex;
        justify-content: space-between;
    }

    .option {
        height: 150px;
        width: 20vw;
        background-color: #202020;
    }

    .option-name {
        font-size: 12px;
    }

    .option-img {
        font-size: 20px;
    }
    /* Why Us End */


    /* Products Start */
    .product-name {
        font-size: 12px;
        font-weight: 500;
    }

    /* Products End */


    /* Gallery Start */
    .gallery-wrapper {
        width: 80%;
        margin: auto;
    }

    .img1 {
        background-image: url("../img/g1.jpeg");
        height: 350px;
        width: 40vw;
    }

    .img2 {
        background-image: url("../img/g2.jfif");
        height: 130px;
        width: 40vw;
    }

    .img3 {
        background-image: url("../img/g3.jfif");
        height: 130px;
        width: 40vw;
    }

    .img4 {
        background-image: url("../img/g4.jfif");
        height: 130px;
        width: 40vw;
    }

    .gallery-left a {
        background-color: #202020;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 16px;
        border-radius: 10px;
    }
    /* Gallery End */


    /* Footer Start */
    
    .footer-wrapper {
        width: 80%;
        margin: auto;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }
    
    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }
    
    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .company-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 20px;
        padding: 5px 0;
    }
    
    .footer-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 0;
    }
    
    .footer-para {
        color: #ffffff;
        font-size: 14px;
        margin: auto;
        padding-top: 10px;
    }
    
    .footer-para a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .footer-para i {
        padding: 0 5px;
    }
    
    #copyright-section {
        width: 100%;
        height: 60px;
        background-color: #181818;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .copyright-wrapper {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    .copyright-details {
        color: #ffffff83;
        font-size: 12px;
        text-align: center;
        display: flex;
        margin: 0;
    }

    /* Footer End */

}